.signup-container {
    background-color: rgba(0, 0, 0, 0.4);
    place-items: center;
    position: fixed;
    height: 100vh;
    display: grid;
    width: 100%;
    left: 0;
    top: 0;

    .form {
        background-color: white;
        border-radius: 15px;
        padding: 20px;

        p {
            color: var(--TextColor);
        }

        button {
            background: var(--ButtonColor);
            color: var(--ButtonTextColor);
            display: inline-block;
            text-decoration: none;
            padding: 13px 32px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            border: none;
            width: 49%;
        }

            button:hover {
                background: var(--ButtonColorHover);
            }
    }
}
